// Colors

$color-bg = #f9f9f9
$color-body-text = #000
$color-sub-text = #666
$color-chart-gridline = rgb(63, 63, 63)
$color-chart-meta = rgb(63, 63, 63)
$color-chart-axis-text = rgb(63, 63, 63)
$color-chart-title-text = rgb(63, 63, 63)
$color-chart-zeroline = rgb(63, 63, 63)

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#fdcd0b \
	#ffd944 \
	#fde584 \
	#fff4cc \
	#bd9908 \
	#7e6605 \
	#3e3203 \
	#ffffff \
	#999 \
	#666 \
	#2c2c2c

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke (c)
			stroke-width 2px
			fill (c)

	.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	.d4 .axis .tick text[data-color-index=\"{i}\"]
		fill (c)

	.cb-colorpicker-color-{i}
		background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

